/* line 1, /Users/memetral/dev/personal/advent.js/css/app */
body {
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 5, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .hll {
  background-color: #404040;
}
/* line 6, /Users/memetral/dev/personal/advent.js/css/app */
.highlight {
  color: #d0d0d0;
}
/* line 7, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .c {
  color: #999999;
  font-style: italic;
}
/* Comment */
/* line 8, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* Error */
/* line 9, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .g {
  color: #d0d0d0;
}
/* Generic */
/* line 10, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .k {
  color: #6ab825;
  font-weight: normal;
}
/* Keyword */
/* line 11, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .l {
  color: #d0d0d0;
}
/* Literal */
/* line 12, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .n {
  color: #d0d0d0;
}
/* Name */
/* line 13, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .o {
  color: #d0d0d0;
}
/* Operator */
/* line 14, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .x {
  color: #d0d0d0;
}
/* Other */
/* line 15, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .p {
  color: #d0d0d0;
}
/* Punctuation */
/* line 16, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .cm {
  color: #999999;
  font-style: italic;
}
/* Comment.Multiline */
/* line 17, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .cp {
  color: #cd2828;
  font-weight: normal;
}
/* Comment.Preproc */
/* line 18, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .c1 {
  color: #999999;
  font-style: italic;
}
/* Comment.Single */
/* line 19, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .cs {
  color: #e50808;
  font-weight: normal;
  background-color: #520000;
}
/* Comment.Special */
/* line 20, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gd {
  color: #d22323;
}
/* Generic.Deleted */
/* line 21, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .ge {
  color: #d0d0d0;
  font-style: italic;
}
/* Generic.Emph */
/* line 22, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gr {
  color: #d22323;
}
/* Generic.Error */
/* line 23, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gh {
  color: #ffffff;
  font-weight: normal;
}
/* Generic.Heading */
/* line 24, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gi {
  color: #589819;
}
/* Generic.Inserted */
/* line 25, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .go {
  color: #cccccc;
}
/* Generic.Output */
/* line 26, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gp {
  color: #aaaaaa;
}
/* Generic.Prompt */
/* line 27, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gs {
  color: #d0d0d0;
  font-weight: normal;
}
/* Generic.Strong */
/* line 28, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gu {
  color: #ffffff;
  text-decoration: underline;
}
/* Generic.Subheading */
/* line 29, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .gt {
  color: #d22323;
}
/* Generic.Traceback */
/* line 30, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .kc {
  color: #6ab825;
  font-weight: normal;
}
/* Keyword.Constant */
/* line 31, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .kd {
  color: #6ab825;
  font-weight: normal;
}
/* Keyword.Declaration */
/* line 32, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .kn {
  color: #6ab825;
  font-weight: normal;
}
/* Keyword.Namespace */
/* line 33, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .kp {
  color: #6ab825;
}
/* Keyword.Pseudo */
/* line 34, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .kr {
  color: #6ab825;
  font-weight: normal;
}
/* Keyword.Reserved */
/* line 35, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .kt {
  color: #6ab825;
  font-weight: normal;
}
/* Keyword.Type */
/* line 36, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .ld {
  color: #d0d0d0;
}
/* Literal.Date */
/* line 37, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .m {
  color: #3677a9;
}
/* Literal.Number */
/* line 38, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .s {
  color: #9dd5f1;
}
/* Literal.String */
/* line 39, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .na {
  color: #bbbbbb;
}
/* Name.Attribute */
/* line 40, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nb {
  color: #24909d;
}
/* Name.Builtin */
/* line 41, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nc {
  color: #447fcf;
  text-decoration: underline;
}
/* Name.Class */
/* line 42, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .no {
  color: #40ffff;
}
/* Name.Constant */
/* line 43, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nd {
  color: #ffa500;
}
/* Name.Decorator */
/* line 44, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .ni {
  color: #d0d0d0;
}
/* Name.Entity */
/* line 45, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .ne {
  color: #bbbbbb;
}
/* Name.Exception */
/* line 46, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nf {
  color: #447fcf;
}
/* Name.Function */
/* line 47, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nl {
  color: #d0d0d0;
}
/* Name.Label */
/* line 48, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nn {
  color: #447fcf;
  text-decoration: underline;
}
/* Name.Namespace */
/* line 49, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nx {
  color: #d0d0d0;
}
/* Name.Other */
/* line 50, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .py {
  color: #d0d0d0;
}
/* Name.Property */
/* line 51, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nt {
  color: #6ab825;
}
/* Name.Tag */
/* line 52, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .nv {
  color: #40ffff;
}
/* Name.Variable */
/* line 53, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .ow {
  color: #6ab825;
  font-weight: normal;
}
/* Operator.Word */
/* line 54, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .w {
  color: #666666;
}
/* Text.Whitespace */
/* line 55, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .mf {
  color: #3677a9;
}
/* Literal.Number.Float */
/* line 56, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .mh {
  color: #3677a9;
}
/* Literal.Number.Hex */
/* line 57, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .mi {
  color: #3677a9;
}
/* Literal.Number.Integer */
/* line 58, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .mo {
  color: #3677a9;
}
/* Literal.Number.Oct */
/* line 59, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .sb {
  color: #9dd5f1;
}
/* Literal.String.Backtick */
/* line 60, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .sc {
  color: #9dd5f1;
}
/* Literal.String.Char */
/* line 61, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .sd {
  color: #9dd5f1;
}
/* Literal.String.Doc */
/* line 62, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .s2 {
  color: #9dd5f1;
}
/* Literal.String.Double */
/* line 63, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .se {
  color: #9dd5f1;
}
/* Literal.String.Escape */
/* line 64, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .sh {
  color: #9dd5f1;
}
/* Literal.String.Heredoc */
/* line 65, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .si {
  color: #9dd5f1;
}
/* Literal.String.Interpol */
/* line 66, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .sx {
  color: #ffa500;
}
/* Literal.String.Other */
/* line 67, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .sr {
  color: #9dd5f1;
}
/* Literal.String.Regex */
/* line 68, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .s1 {
  color: #9dd5f1;
}
/* Literal.String.Single */
/* line 69, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .ss {
  color: #9dd5f1;
}
/* Literal.String.Symbol */
/* line 70, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .bp {
  color: #24909d;
}
/* Name.Builtin.Pseudo */
/* line 71, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .vc {
  color: #40ffff;
}
/* Name.Variable.Class */
/* line 72, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .vg {
  color: #40ffff;
}
/* Name.Variable.Global */
/* line 73, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .vi {
  color: #40ffff;
}
/* Name.Variable.Instance */
/* line 74, /Users/memetral/dev/personal/advent.js/css/app */
.highlight .il {
  color: #3677a9;
}
/* Literal.Number.Integer.Long */
/* line 76, /Users/memetral/dev/personal/advent.js/css/app */
#shell-panel {
  height: 100%;
  width: 100%;
  background-color: #002f05;
  color: #00fe00;
  padding: 20px 20px 20px 20px;
  font-family: 'Source Code Pro';
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px dashed #E6EBE0;
}
/* line 89, /Users/memetral/dev/personal/advent.js/css/app */
#shell-cli .prompt {
  font-weight: bold;
}
/* line 93, /Users/memetral/dev/personal/advent.js/css/app */
#editor {
  width: 100%;
  height: 100%;
}
